{% extends 'coursedb/base.html' %}

{% block content %}
          
<div class = "search">
<input id="college" maxlength="3" type="text" placeholder="College" font-size:12px required/> 
<input id="department" maxlength="2" type="text" placeholder="Department" required/>
<input id="course" maxlength="3" type="text" placeholder="Course Number" required/>
</div>
<div class = "btn">
<button style ="width:200px; height:40px;" id="submit-btn">Submit</button>
</div>


<script>
  var submit = document.getElementById('submit-btn');
  var college = document.getElementById('college');
  var dept = document.getElementById('department');
  var course = document.getElementById('course');

  submit.addEventListener('click', function() {
    var queryString = college.value + '/' + dept.value + '/' + course.value;
    var url = window.location.href;
    window.location.replace(url+queryString);
  });
</script>
       

{% endblock %}
